.dialog {
  color: $content;
  margin: 0 $marginMini $marginMini $marginMini;
  cursor: pointer;
  font-size: 1.2rem;
  &:hover {
    color: $captions;
  }
}
.active {
  color: $active;
  cursor: default;
  &:hover {
    color: $active;
  }
}
