.button {
  display: block;
  padding: $padding;
  margin: 0 auto;
  font-size: 1rem;
  color: $content;
  border-radius: $radius;
  border: 1px solid $content;
  cursor: pointer;
  transition: all .3s linear;
  &:hover {
    box-shadow: 0 0 0 3px $active;
  }
  &:active {
    transition: none;
    box-shadow: 0 0 0 3px $black;
  }
}
