.chatBlock {
  @include position(70%, 0 auto);
  .title {
    @extend %title;
    text-align: center;
  }
}

@media (max-width: $laptopMax) {
  .chatBlock {
    width: 80%;
  }
}

@media (max-width: $laptopMin) {
  .chatBlock {
    width: 90%;
  }
}
