.messagesBlock {
  width: 50%;
  text-align: center;
  .title {
    @extend %mini-title;
  }
  .addMessageBlock {
    margin: 0 0 $marginMin 0;
    .inputMessage {
      @extend %textarea;
    }
  }
  .messages {
    height: 220px;
    overflow-y: auto;
  }
}
