@import 'src/utils/styles/variables';
@import 'src/utils/styles/mixins';

.messagesBlock {
  width: 50%;
  text-align: center;
  .title {
    @extend %mini-title;
  }
  .addMessageBlock {
    margin: 0 0 $marginMini 0;
    .inputMessage {
      @extend %textarea;
    }
  }
}
