.sendTextBlock {
  margin: $marginMin $marginMax 0 0;
  .formBlock {
    @include flex(center, center);
    margin: $marginMin 0 0 0;
    .fieldBlock {
      width: 50%;
      margin: 0 auto;
      .inputText {
        @extend %textarea;
        width: 100%;
      }
    }
    .sendButton {
      margin: 0;
    }
  }
  .pendingText {
    text-align: center;
    font-size: 1rem;
    color: $error;
  }
}
