.profileStatus {
  @include position(70%, 0 auto);
  .statusBlock {
    @include flex(center, center);
    margin: 0 0 $marginMin 0;
    .title {
      @include captions(1.1rem);
      margin: 0 $marginMin 0 0;
    }
    .inputStatus {
      @extend %textarea;
      width: 100%;
    }
  }
  .statusButton {
    @include position(100%, 0);
    padding: 5px $padding;
  }
}

@media (max-width: $laptopMin) {
  .profileStatus {
    width: 50%;
  }
}

@media (max-width: $tablet) {
  .profileStatus {
    width: 70%;
  }
}

@media (max-width: $mobile) {
  .profileStatus {
    width: 90%;
  }
}
