.paginator {
  margin: $marginMin auto $marginMin auto;
  @include flex(null, center);
  justify-content: center;
  .paginatorBlock {
    display: flex;
    margin: 0 $marginMin 0 $marginMin;
    .pageNumber:not(:last-child) {
      margin: 0 $marginMin 0 0;
    }
    .selectedPage {
      font-weight: 700;
      color: $captions;
    }
  }
  .paginatorButton {
    margin: 0;
  }
}
