.addPublicationBlock {
  margin: 0 0 $marginMin 0;
  .fieldBlock {
    margin: 0 0 $marginMin 0;
    .inputPost {
      @extend %textarea;
    }
  }
}

@media (max-width: $laptopMax) {
  .addPublicationBlock {
    .fieldBlock {
      .inputPost {
        width: 70%;
      }
    }
  }
}

@media (max-width: $laptopMin) {
  .addPublicationBlock {
    .fieldBlock {
      .inputPost {
        width: 90%;
      }
    }
  }
}

@media (max-width: $mobile) {
  .addPublicationBlock {
    .sendButton {
      width: 90%;
    }
  }
}
