$black: rgb(31, 40, 51);
$white: rgb(255, 255, 255);
$aqua: rgb(102, 252, 241);
$light-black: rgba(31, 40, 51, 0.7);
$light-gray: rgba(197, 198, 199, 0.3);

$content: $black;
$captions: $white;
$active: $aqua;
$dark-background: $light-black;
$light-background: $light-gray;

$padding: 10px;
$margin: 30px;
$left-block-width: 10%;
$right-block-width: 90%
