@import './variables';

@mixin position($w, $m) {
  width: $w;
  margin: $m;
};

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
};

@mixin captions($fz, $ls: null) {
  color: $captions;
  font-size: $fz;
  letter-spacing: $ls;
};

@mixin link($c) {
  cursor: pointer;
  font-size: 1.3rem;
  color: $c;
  transition: all .3s linear;
};

%title {
  margin: $marginMin 0 $marginMax 0;
  @include captions(2rem, .05rem);
};

%left-block {
  width: $left-block-width;
  padding: $padding;
};

%textarea {
  @include position(50%, 0 auto);
  padding: 5px;
  display: block;
  height: 60px;
  border-radius: $radius;
  resize: none;
  outline: none;
};
