@import './variables';

@mixin respond($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

@mixin position($w, $m) {
  width: $w;
  margin: $m;
}

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin captions($fz, $ls: null) {
  color: $captions;
  font-size: $fz;
  letter-spacing: $ls;
}

@mixin link($c) {
  cursor: pointer;
  font-size: 0.9rem;
  color: $c;
  transition: all 0.3s linear;
}

%title {
  margin: $marginMin 0 $marginMax 0;
  @include captions(2rem, 0.05rem);
}

%side-block {
  width: $side-block-width;
  padding: $padding;
}

%textarea {
  @include position(50%, 0 auto);
  padding: 5px;
  display: block;
  height: 60px;
  border-radius: $radius;
  resize: none;
  outline: none;
}
