$black: rgb(31, 40, 51);
$white: rgb(255, 255, 255);
$aqua: rgb(102, 252, 241);
$red: rgb(102, 0, 0);
$light-black: rgba(31, 40, 51, 0.7);
$light-gray: rgba(197, 198, 199, 0.3);

$content: $black;
$captions: $white;
$active: $aqua;
$error: $red;
$dark-background: $light-black;
$light-background: $light-gray;

$marginMax: 20px;
$marginMin: 10px;
$padding: 10px;
$radius: 5px;
$left-block-width: 10%;
$right-block-width: 90%;

$laptopMaxSize: 90em;
$laptopMinSize: 80em;
$tabletSize: 40em;
$mobileSize: 20em;

$laptopMax: laptopMax;
$laptopMin: laptopMin;
$tablet: tablet;
$mobile: mobile;
