.errorPopup {
  @include flex(center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-background;
  .errorPopupContainer {
    display: flex;
    flex-direction: column;
    .errorPopupButton {
      @include position(90%, 0 auto);
    }
  }
}
