.loginForm {
  @include position(30%, 0 auto);
  border: 1px solid $active;
  border-radius: $radius;
  padding: $padding;
  .fieldBlock {
    margin: 0 0 $marginMin 0;
    .field {
      display: block;
      width: 100%;
      padding: $padding;
      border-radius: $radius;
    }
  }
  .captcha {
    display: block;
    width: 100%;
    margin: 0 0 $marginMin 0;
    border-radius: $radius;
  }
  .toggleBlock {
    @include flex(center, null);
    margin: 0 0 $marginMin 0;
    .checkbox {
      cursor: pointer;
      margin: 0 $marginMin 0 0;
    }
    .label {
      cursor: pointer;
      color: $captions;
      font-size: 1rem;
    }
  }
  .error {
    text-align: center;
    font-size: 1.1rem;
  }
  .loginButton {
    width: 100%;
  }
}
.loginFormError {
  border: 2px solid $error;
}

@media (max-width: $laptopMin) {
  .loginForm {
    width: 50%;
  }
}

@media (max-width: $tablet) {
  .loginForm {
    width: 70%;
  }
}

@media (max-width: $mobile) {
  .loginForm {
    width: 90%;
  }
}
