.chatMessagesBlock {
  height: 250px;
  padding: $padding;
  border: 1px solid $active;
  border-radius: $radius;
  overflow-y: auto;

  .chatPreloaderBlock {
    @include flex(center, center);
    height: 100%;

    .chatPreloader {
      height: 100%;
      margin: 0;
    }
  }

  .emptyMessagesText {
    color: $secondary-background;
    font-size: 1.2rem;
    text-align: center;
  }
}

.chatMessagesBlockScroll {
  border-radius: $radius 0 0 $radius;
}
