.navigation {
  @extend %left-block;
  .link {
    display: block;
    padding: $padding;
    font-weight: 700;
    text-align: center;
    border-radius: $radius;
    @include click($content);
    &:hover {
      color: $captions;
    }
  }
  .active {
    cursor: default;
    background: $active;
    border-radius: $radius;
    &:hover {
      color: $content;
    }
  }
}
