.main {
  background: $light-background;
  display: flex;
  flex: auto;
  .content {
    width: $right-block-width;
  }
}

@media (max-width: $laptopMax) {
  .main {
    .content {
      width: 85%;
    }
  }
}

@media (max-width: $laptopMin) {
  .main {
    .content {
      width: 80%;
    }
  }
}

@media (max-width: $tablet) {
  .main {
    display: block;
    .content {
      width: 100%;
    }
  }
}
