.dataBlock {
  @include flex(space-between, null);
  flex-direction: column;
  width: 50%;

  .button {
    @include position(100%, 0);
    padding: 5px $padding;
  }

  @include respond($laptopMin) {
    @include position(60%, 0 auto);
  }

  @include respond($tablet) {
    width: 70%;
  }

  @include respond($mobile) {
    width: 90%;
  }
}
