.passwordBlock {
  position: relative;
  .eyeContainer {
    height: 35.2px;
    width: 40px;
    padding: $padding;
    border-radius: 0 3px 3px 0;
    @include flex(center, null);
    position: absolute;
    top: 2px;
    right: 2px;
    &:hover {
      cursor: pointer;
      background: $main-background;
    }
  }
  .fieldBlock {
    margin: 0 0 $marginMin 0;
    .field {
      display: block;
      width: 100%;
      padding: $padding;
      border-radius: $radius;
    }
  }
}
