.photoBlock {
  margin: 0 0 $marginMin 0;
  .userPhoto {
    @include position(50%, 0 auto);
    border-radius: $radius;
  }
  .userPhotoError {
    color: $error;
    font-size: 1.3rem;
  }
  .photoPreloader {
    @include position(50%, 0 auto $marginMin auto);
  }
}

@media (max-width: 1280px) {
  .photoBlock {
    @include position(50%, 0);
  }
}

@media (max-width: 640px) {
  .photoBlock {
    @include position(70%, 0 auto $marginMin auto);
  }
}

@media (max-width: 320px) {
  .photoBlock {
    width: 100%;
  }
}
