.infoBlock {
  @include position(90%, 0 auto);
  padding: 0 0 $padding 0;
  text-align: center;
  .title {
    @extend %title;
  }
  .innerInfoBlock {
    @include flex(space-evenly, null);
    .statusAndPhotoBlock {
      @include flex(space-between, null);
      flex-direction: column;
      width: 30%;
    }
  }
  .fullName {
    @include captions(1.3rem, 0.05rem);
    margin: 0 0 $marginMin 0;
  }
}

@media (max-width: $laptopMin) {
  .infoBlock {
    @include position(100%, 0);
    .innerInfoBlock {
      display: block;
      .statusAndPhotoBlock {
        flex-direction: row;
        align-items: center;
        @include position(80%, 0 auto $marginMin);
        padding: 0 0 $padding 0;
        border-bottom: 1px solid $active;
      }
    }
  }
}

@media (max-width: $tablet) {
  .infoBlock {
    .innerInfoBlock {
      .statusAndPhotoBlock {
        display: block;
        width: 90%;
      }
    }
  }
}

@media (max-width: $mobile) {
  .infoBlock {
    .innerInfoBlock {
      .statusAndPhotoBlock {
        width: 100%;
      }
    }
  }
}
