.infoBlock {
  width: 50%;
  text-align: center;
  border-right: 1px solid $active;
  .title {
    @extend %title;
  }
  .fullName {
    @include captions(1.3rem, 0.05rem);
    margin: 0 0 $marginMin 0;
  }
}
