.infoBlock {
  width: 50%;
  text-align: center;
  border-right: 1px solid $active;
  .title {
    @extend %mini-title;
  }
  .fullName {
    @include captions(1.3rem, .05rem);
    margin: 0 0 $marginMin 0;
  }
  .userPhoto {
    width: 30%;
    margin: 0 auto $marginMin auto;
    border-radius: $radius;
  }
}
