.header {
  background: $dark-background;
  @extend %flex-vertical-center;
  .logoContainer {
    @extend %left-block;
    .logo {
      width: 100%;
      border-radius:$radius;
    }
  }
  .headline {
    width: $right-block-width;
    text-align: center;
    @include captions(5rem, .5rem);
  }
}





