.wrapper {
  @include position(90%, 0 auto);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.preloaderWrapper {
  width: 100%;
  min-height: 100vh;
  @include flex(null, center);
  justify-content: center;
  .preloader {
    width: 500px;
  }
}
