.wrapper {
  @include position(90%, 0 auto);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.preloaderWrapper {
  min-height: 100vh;
  @include flex(center, center);
  .preloader {
    width: 500px;
  }
}
