.publicationsBlock {
  width: 50%;
  text-align: center;
  &:not(:last-child) {
    border-right: 1px solid $active;
  }
  .title {
    @extend %title;
  }
  .publications {
    max-height: 170px;
    overflow-y: auto;
  }
}

@media (max-width: $laptopMax) {
  .publicationsBlock {
    .publications {
      max-height: 160px;
    }
  }
}

@media (max-width: $laptopMin) {
  .publicationsBlock {
    .publications {
      max-height: 150px;
    }
  }
}

@media (max-width: $tablet) {
  .publicationsBlock {
    .publications {
      max-height: 140px;
    }
  }
}

@media (max-width: $mobile) {
  .publicationsBlock {
    width: 100%;
    &:not(:last-child) {
      border-right: none;
      border-bottom: 1px solid $active;
    }
    .publications {
      max-height: 140px;
    }
  }
}
