.user {
  @include position(50%, $marginMin auto $marginMin auto);
  display: flex;
  padding: $padding;
  border: 1px solid $active;
  border-radius: $radius;
  .userMainBlock {
    width: 40%;
    border-right: 1px solid $content;
    .userPhotoBlock {
      width: 50%;
      &:not(:last-child) {
        margin: 0 auto $marginMin auto;
      }
      .userPhoto {
        width: 100%;
        border: 1px solid $content;
        border-radius: $radius;
        &:hover {
          border: 1px solid $active;
        }
      }
    }
  }
  .userInfoBlock {
    width: 60%;
    .title {
      @extend %title;
      margin: 0 0 $marginMin 0;
    }
    .userInfo {
      margin: 0 0 0 $marginMax;
      text-align: left;
      .infoTitle {
        color: $captions;
        font-weight: 500;
        font-size: 1rem;
      }
      .infoText {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: $laptopMax) {
  .user {
    width: 60%;
  }
}

@media (max-width: $laptopMin) {
  .user {
    width: 70%;
    .userMainBlock {
      width: 30%;
    }
    .userInfoBlock {
      width: 70%;
    }
  }
}

@media (max-width: $tablet) {
  .user {
    flex-direction: column;
    width: 90%;
    .userMainBlock {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid $content;
      padding: 0 0 $padding 0;
      .userPhotoBlock {
        width: 30%;
      }
    }
    .userInfoBlock {
      width: 100%;
      .title {
        margin: $marginMin 0;
      }
      .userInfo {
        margin: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .user {
    .userMainBlock {
      .userButton {
        width: 30%;
      }
    }
  }
}
