.footer {
  background: $dark-background;
  text-align: center;
  @include flex(null, center);
  .mailContainer {
    @extend %left-block;
    .mail {
      width: 100%;
    }
  }
  .contactsContainer {
    width: $right-block-width;
    @include flex(center, baseline);
    .title {
      @include captions(3rem, 0.3rem);
      margin: 0 $marginMax 0 0;
    }
    .contacts {
      .contact {
        @include link($captions);
        &:not(:last-child) {
          margin: 0 $marginMax 0 0;
        }
        &:hover {
          color: $active;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .footer {
    .mailContainer {
      width: 15%;
    }
    .contactsContainer {
      width: 85%;
    }
  }
}

@media (max-width: 1280px) {
  .footer {
    .mailContainer {
      width: 20%;
    }
    .contactsContainer {
      display: block;
      width: 80%;
      .title {
        font-size: 4rem;
        margin: 0 0 $marginMin 0;
      }
    }
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 0 0 $padding 0;
    .mailContainer {
      display: none;
    }
    .contactsContainer {
      width: 100%;
      .title {
        font-size: 3rem;
      }
      .contacts {
        .contact {
          display: block;
          &:not(:last-child) {
            margin: 0;
          }
        }
      }
    }
  }
}
