.footer {
  background: $dark-background;
  text-align: center;
  @include flex(null, center);
  .mailContainer {
    @extend %left-block;
    .mail {
      width: 100%;
    }
  }
  .contactsContainer {
    width: $right-block-width;
    @include flex(center, baseline);
    .title {
      @include captions(3rem, 0.3rem);
      margin: 0 $marginMax 0 0;
    }
    .contacts {
      .contact {
        @include link($captions);
        &:not(:last-child) {
          margin: 0 $marginMax 0 0;
        }
        &:hover {
          color: $active;
        }
      }
    }
  }
}
