.inputFileBlock {
  @include position(30%, 0 auto);
  .button {
    width: 100%;
    margin: $marginMin 0 0 0;
    padding: 5px $padding;
  }
  .inputFile {
    display: none;
  }
  .labelInputFile {
    font-size: 0.7rem;
    display: block;
    margin: 0 0 $marginMin 0;
  }
}
