@import 'src/utils/styles/variables';
@import 'src/utils/styles/mixins';

.dialogsBlock {
  width: 50%;
  text-align: center;
  border-right: 1px solid $active;
  .title {
    @extend %mini-title;
  }
  .dialogs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
