*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid $content;
}

html,
body {
  width: 100%;
  height: 100%;
  color: $content;
  background: url('./assets/images/main-background.avif');
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include respond($laptopMax) {
    font-size: 14px;
  }
  @include respond($laptopMin) {
    font-size: 13px;
  }
  @include respond($tablet) {
    font-size: 12px;
  }
  @include respond($mobile) {
    font-size: 11px;
  }
}
