.searchUsersBlock {
  margin: $marginMin 0 0 0;
  @include flex(center, flex-start);
  .fieldBlock {
    width: 20%;
    margin: 0 $marginMin 0 0;
    .inputSearch {
      width: 100%;
    }
  }
  .selectSearch {
    width: 20%;
    margin: 0 $marginMin 0 0;
    border: 2px solid rgb(102, 252, 241);
  }
  .inputSearch,
  .selectSearch {
    padding: $padding;
    border-radius: $radius;
  }
  .searchButton {
    margin: 0;
  }
}

@media (max-width: $laptopMin) {
  .searchUsersBlock {
    margin: $marginMin 0;
    .fieldBlock {
      width: 30%;
    }
    .selectSearch {
      width: 30%;
    }
  }
}

@media (max-width: $tablet) {
  .searchUsersBlock {
    display: block;
    .fieldBlock {
      @include position(50%, 0 auto $marginMin);
    }
    .selectSearch {
      @include position(50%, 0 auto $marginMin);
    }
    .searchButton {
      margin: 0 auto;
    }
  }
}

@media (max-width: $mobile) {
  .searchUsersBlock {
    .fieldBlock {
      width: 90%;
    }
    .selectSearch {
      width: 90%;
    }
    .searchButton {
      width: 90%;
    }
  }
}
